@import 'bootstrap';
@import 'bootstrap-sprockets';

body {
  margin-top: 100px;
  background-color: black;
  color: #d6dadc;
  font-family: 'Mali', cursive;
}

.container {
  width: 90%;
}

.btn {
  width: 100%;
}

// Navbar

.navbar {
  background: rgb(37, 37, 37);
  padding-bottom: 20px;
 }
 
 .navbar-default .navbar-brand {
   padding-top: 25px;
   font-size: 150%;
   font-weight: bold;
   color: #d6dadc;
 }
 
 .navbar-default .navbar-brand:hover {
   color: #D4AF37;
 }
 
 .navbar-default {
   border-bottom: 5px solid rgb(19, 19, 19);
 }
 
 .navbar-nav {
   padding-top: 10px;
   padding-right: 20px;
 }
 
 .navbar-default .navbar-nav li > a {
   font-weight: bold;
   font-size: 130%;
   color: #d6dadc;
 }
 
 .navbar-default .navbar-nav li > a:hover {
   color: #D4AF37;
 }

 .navbar-default .navbar-nav > .active > a {
   color: #06BEE1;
   border: 1px solid #06BEE1;
   background-color: rgb(17, 48, 224);
   padding-bottom: 0;
   display: table-cell;
 }

 // Dashboard Index

.search-well {
  display: inline;
  margin: 10px;
  height: 60px;
  color: black;
  background-color: #d6dadc;
}
 // Devise errors

 #error_explanation {
  background-color: #d6dadc; 
  color: #a94442; 
  text-align: left;
  padding: 5px 20px; 
  margin-bottom: 30px;
  }
  
  #error_explanation h2 { 
  font-size: 150%;
  }

  .cmt-btn {
    margin-top: 15px;
  }

  // Flash styling
  .alert-alert {
    @extend .alert-danger;
  }
  
  .alert-notice {
    @extend .alert-warning;
  }

  // Devise

  .form-dev {
    color: #D4AF37;
  }

  .dev-form-field {
    background-color: #d6dadc;
  }

  .btn-dev-upd {
    color: #d6dadc;
    background-color: #D4AF37;
  }

  .btn-dev-del {
    background-color: #C52233;
  }

  // Exercise form

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}

  // Exercise index
  
.col-xs-12 {
  width: 100%;
}

.exer-grids {
    overflow: hidden;
    margin: 0 -15px;
    height: 100%;
}

.exer-grids .grid {
    background-color: rgb(219, 218, 218);
    width: calc(50% - 30px);
    float: left;
    padding: 15px;
    margin: 20px 15px 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 30px rgba(230, 225, 225, 0.863);
    box-shadow: 0 0 30px rgba(230, 225, 225, 0.863);
}

.entry-body {
  padding: 27px 10px;
}

.entry-body .cat {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #D4AF37;
  text-transform: uppercase;
}

.entry-body h3 {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.30em;
  margin: 3px 0 0.73em;
  font-family: 'Roboto', sans-serif;
  background: -webkit-linear-gradient(#D4AF37, rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.entry-body h3 a {
  color: #000000;
}

.entry-body h3 a:hover {
  color: #D4AF37;
  text-decoration: none;
}

.entry-body p {
  margin-bottom: 2em;
  color: #000000;
  line-height: 1.8em;
  height: 250px;
}

.ed-btn {
  font-size: 11px; 
  color: rgb(219, 218, 218);
}

.btn-new {
  margin: 10px;
  background-color: #D4AF37;
}

.btn-new:hover {
  background-color: white; 
  color: #D4AF37;
}

.btn-ed {
  background-color: black;
}

.btn-del {
  background-color: #EC4E20;
}

.friend-well {
  height: 60px;
  color: black;
  background-color: #d6dadc;
}

.friend-link a {
  color: #D4AF37;
}

.friend-link a:hover {
  color: black;
  text-decoration: none;
}

  // Show page

#start { font-size: 1em; }

#started { font-size: 1em; }

#startedby { font-size: 1.2em; }

#visited { 
  font-size: 1.2em;
  display: inline;
  padding-left: 5px;
}

#visit { font-size: 1em; }

.post-title { 
  font-size: 1.5em; 
  text-decoration: none; 
  color: #990099; 
}

.panel {
  margin-top: 15px;
}

  // Chart Styling

.workout-chart {
  border: 5px solid #d6dadc;
  margin-top: 25px;
}
  
path {
  stroke: steelblue; stroke-width: 2; fill: none;
}
.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
#chat-window {
  border: 1px solid #76C95B;
  margin-top: 50px;
  margin-bottom: 30px;
}
#chat-window header {
  background: #76C95B;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 120%;
}
#chat-box {
  min-height: 100px;
}
#message-field {
  width: 96%;
}
.message-body {
  margin-bottom: 2px;
}
hr.msg {
  margin-top: 10px;
  margin-bottom: 10px;
}
#followers {
  border-right: 1px solid #76C95B;
}
.followers {
  margin-left: -15px;
}
#form-box {
  margin-left: -15px;
}
#post-btn {
  margin-right: -35px;
}
